.nav{
    list-style-type: none;
    text-align: right;
    margin: 0;
    padding: 0;
    background-color: #EEFBFB;
}

.nav li{
    display: inline-block;
    font-size: 20px;
    padding: 20px;
    color: #203647;
}

#iname{
    float: left;  
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

body{
    background-color: #12232E;
    color: #4DA8DA;
}